body{ background-color: #D4D4CF;}
#pageTopic {
    text-align: Left;}
 hr {
        height:5px;
        color:gray;
        background-color: gray;
        opacity: 50%;
    }
.colorContainer{
    margin: 25px;
}
.swatch{
    display: inline-block;
    margin: 24px;
    height:96px;
    width: 318px;
    text-indent: 6px;
    word-spacing: 10px;
    font-family: 'Noto Sans',sans-serif;
}
.swatch.Navy{
    background-color: navy;
    color: white;
}
.swatch.Navy80{
    background-color: navy;
    color: white;
    opacity: 80%;
}
.swatch.White{
    background-color:white;
    color: black;
}
.swatch.Black{
    background-color: #292929;
    color: white
}
.swatch.Yellow{
    background-color: #EEB20D;
    color: white;
}
.swatch.Orange{
    background-color: #F17630;
    color: white;
}
.swatch.Blue{
    background-color: #566FA3;
    color: white;
}
.swatch.Green{
    background-color: #398231;
    color: white;
}
.BCnovatica{font-family:BC Novatica CYR; }
#Base950 {font-family: base-9-sans, sans-serif;
        font-weight: 400;
        font-style: normal;}
#Acier {font-family: acier-bat;
        font-weight: 400;
        font-style: normal;}
#Base930 {font-family: BC Novatica CYR;}
.sectionHead {font-family:Inter, sans-serif;
            font-weight: 700;
            font-style: normal;}